*
{
	margin: 0;
	padding: 0;
}

header
{
	body
{
	/* For devices smaller than 400px: */

  background-image: url('background1.jpg');


/* For devices 400px and larger: */
@media only screen and (min-device-width: 400px);
    background-image: url('background.jpg');
    	font-family: monospace;
    	background-size: 100% 100%;
}
}

.hero
{
	position: absolute;
	width: 1308px;
	height: 0px;
	margin-left: 0px;
	margin-top: 0px;
}

h1
{
	color: white;
	text-transform: uppercase;
	font-size: 80px;
	text-align: center;
	margin-top: 275px;
}

.button
{
	margin-top: 30px;
	margin-left: 460px;
}

.btn
{
	border: 1px solid white;
	padding: 10px 30px;
	color: white;
	text-decoration: none;
	margin-right: 5px;
	font-size: 13px;
	text-transform: uppercase;
}

.btn-one
{
	background-color: darkorange;
	font-family: "Roboto", "sans-serif";
}

.btn-two
{
	font-family: "Roboto", "sans-serif";
}

.btn-two:hover
{
	background-color: darkorange;
	transition: all 0.5s ease-in;
}

footer
{
	text-align: center;
	text-decoration: none;
}
