body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  text-align: center;
  background-color:#f4f4f4;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:DodgerBlue;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

/* Header **/
header{
  background:#35424a;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:DodgerBlue 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:DodgerBlue;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}


/* Services */
ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}

footer{
  border-top:DodgerBlue 3px solid;
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#35424a;
  text-align: center;
}

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }


}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
 }

 .headshot {
  margin-top: 3rem;
 }

  img {
  border-radius: 50%;
 }

 .readable {
  word-spacing: 3px;
 }

.textbox {

height: 40px; 
width: 220px; 
font-size: 14px; 
}

.textbox-msg {
height: 100px; 
width: 220px; 
font-size: 14px; 
}
