*{
	margin: 0;
	padding: 0;
}

body {
background-color: White; /* set the background color here */
color: Black; /* set the text color to black here */
font-family: Roberto,ariel; /* set the font color here */
text-align: center; /* set the text allignment here */
}

footer {
margin-top: 2rem;
margin-bottom: 2rem;
}

h1 {
color: Black;
margin-bottom: 0.5rem;
margin-top: 3rem;
}
